/* https://colorhunt.co/palette/171392 */

body {
    background-color: #363062;
    color: #d8b9c3;
}

.header {
    font-size: large;
    text-align: center;
    font-weight: bolder;
}

.instructions {
    font-size: 15pt;
}

.buttonbar {
    text-align: right;
}

.button {
    border-width: 2px;
    border-style: solid;
    border-radius: 15%;
    border-color: #30475e;
    font-size: 15pt;
}

.submitbutton, .copybutton {
    color: #827397;
    background-color: #222831;
}

.clearbutton, .resetbutton {
    background-color: #4d4c7d;
    color: #222831;
}

.textbox {
    border-color: #30475e;
    border-style: solid;
    background-color: #827397;
    border-color: #30475e;
    border-radius: 3%;
}

.hidden {
    display: none;
}
