body {
    background-color: #2d2d2d;
    color: #f5f5dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #5c5c5c;
    margin: 0px;
}

.header h1 {
    display: inline-block;
    vertical-align: middle;
}

.header img {
    vertical-align: middle;
}

.instructions {
    margin: 0px;
}

.buttonbar {
    text-align: right;
}

button {
    --mdc-theme-primary: #f5f5dc;
}

header {
    --mdc-theme-primary: #f5f5dc;
}

.textbox {
    border-color: #5c5c5c;
    border-style: solid;
    background-color: #f5f5dc;
}

.hidden {
    display: none;
}

.options {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    text-align: left;
}

.options .optionslink {
    text-decoration: none;
    color: #f5f5dc;
}

.options_panel {
    padding: 10px 10px 10px 25px;
    background-color: #3F3F3F;
    margin: 0px;
    color: #f5f5dc;
}
